<template>
  <q-page class="row">
    <!-- Toobar menu -->
    <teleport defer to="#toolbar-actions">
      <q-btn flat round :icon="hideChecked ? 'visibility' : 'visibility_off'" @click="hideChecked = !hideChecked" />
      <q-btn flat round :icon="editableItems ? 'done' : 'edit'" @click="editableItems = !editableItems" />
    </teleport>

    <!-- Content -->
    <div class="fit column wrap justify-evenly q-col-gutter-md q-ma-sm q-mr-md">
      <!-- Filter -->
      <q-input outlined v-model="filter" label="Filtrer">
        <template v-slot:append>
          <q-btn flat round icon="close" @click="filter = ''" />
        </template>
      </q-input>

      <q-list>
        <!-- Other items -->
        <q-item
          v-for="item in sortedItems"
          :key="item.id"
          clickable
          :class="{ transparent: item.checked }"
          @click="updateItemState(item, !item.checked)"
        >
          <q-item-section avatar
            ><q-icon
              size="lg"
              name="circle"
              :style="{
                color: categoriesStore.categoriesByIds[item.category || '']?.color
              }"
          /></q-item-section>
          <q-item-section :class="{ 'text-strike': item.checked }">{{ item.name }}</q-item-section>
          <q-item-section side v-if="editableItems">
            <div class="row">
              <q-btn flat round dense color="secondary" icon="edit" @click.stop="editItemDialog(item)" />
              <q-btn flat round dense color="secondary" icon="delete" @click.stop="deleteItem(item)" />
            </div>
          </q-item-section>
        </q-item>

        <!-- Add new item based on filtering -->
        <q-separator v-if="filter != '' && filteredItems.length > 0" class="q-mb-md" />
        <q-item v-if="filter != ''" clickable>
          <!-- Add icon -->
          <q-item-section avatar @click="addItem()"
            ><q-icon size="lg" name="add_circle" color="accent"
          /></q-item-section>

          <!-- Item name -->
          <q-item-section @click="addItem()">
            <div class="row">
              <span class="xs-hide q-mr-xs">Créer un nouvel item</span>
              <span class="text-bold">{{ filter }}</span>
            </div>
          </q-item-section>

          <!-- Category selection -->
          <q-item-section side>
            <q-select borderless v-model="category" :options="categoriesStore.categories">
              <!-- Selected template -->
              <template v-slot:selected>
                <div class="row items-center">
                  <q-icon size="lg" :name="category ? 'circle' : 'help'" :style="{ color: category?.color }" />
                  <span class="xs-hide q-ml-md">{{ category ? category.name : 'Catégorie' }}</span>
                </div>
              </template>

              <!-- Options template -->
              <template v-slot:option="scope">
                <q-item v-bind="scope.itemProps">
                  <q-item-section avatar>
                    <q-icon size="lg" name="circle" :style="{ color: scope.opt.color }" />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>{{ scope.opt.name }}</q-item-label>
                  </q-item-section>
                </q-item>
              </template>
            </q-select>
          </q-item-section>
        </q-item>
      </q-list>
    </div>
  </q-page>
</template>

<style lang="sass" scoped>
.transparent
  opacity: 0.3
</style>

<script setup lang="ts">
import { computed, ref, watchEffect } from 'vue'
import { uid, LocalStorage, useQuasar } from 'quasar'

import { useItemsStore } from 'src/stores/items'
import { useCategoriesStore } from 'src/stores/categories'

import type { Item } from 'src/models/item'
import type { ListID } from 'src/models/list'
import type { Category, CategoryID } from 'src/models/category'

import ItemFormDialog from 'src/components/ItemFormDialog.vue'

// Props
const props = defineProps<{ listId: ListID; categoryId?: CategoryID }>()

// Display filter refs
const HIDE_CHECKED = 'hideChecked'
const EDITABLE_ITEMS = 'editableItems'

const hideChecked = ref(LocalStorage.getItem(HIDE_CHECKED) ?? false)
const editableItems = ref(LocalStorage.getItem(EDITABLE_ITEMS) ?? false)
watchEffect(() => {
  LocalStorage.set(HIDE_CHECKED, hideChecked.value)
  LocalStorage.set(EDITABLE_ITEMS, editableItems.value)
})

// Stores
const categoriesStore = useCategoriesStore()
const itemsStore = useItemsStore()
itemsStore.initForList(props.listId)

// Filter
const filter = ref('')
const category = ref<Category>()

const filteredItems = computed(() => {
  const normalize = (str: string) =>
    str
      .normalize('NFD')
      .replace(/\p{Diacritic}/gu, '')
      .toLocaleLowerCase()

  // Skip if no filters
  if (filter.value === '' && props.categoryId === undefined && hideChecked.value === false) return itemsStore.items

  const normalizedFilter = normalize(filter.value)
  return itemsStore.items.filter(i => {
    if (hideChecked.value && i.checked && filter.value === '') return false
    if (props.categoryId !== undefined && i.category !== props.categoryId) return false
    return normalize(i.name).includes(normalizedFilter)
  })
})

// Sorting
const sortedItems = computed(() => {
  return [...filteredItems.value].sort((a, b) => {
    if (!a.checked && b.checked) return -1
    if (a.checked && !b.checked) return 1
    if (a.category === undefined && b.category !== undefined) return -1
    if (a.category !== undefined && b.category === undefined) return 1
    if (a.category !== undefined && a.category !== b.category) return a.category.localeCompare(b.category || '')

    return a.name.localeCompare(b.name)
  })
})

/**
 * ItemsCRUD
 */

const $q = useQuasar()

const addItem = () => {
  const item: Item = {
    id: uid(),
    name: filter.value.trim(),
    checked: false,
    list: props.listId,
    category: category.value?.id
  }

  itemsStore.createItem(item)
  filter.value = ''
}

const editItemDialog = (item: Item) => {
  $q.dialog({
    component: ItemFormDialog,
    componentProps: { item }
  }).onOk((itemToUpdate: Item) => {
    itemsStore.updateItem(itemToUpdate)
  })
}

const deleteItem = (item: Item) => {
  $q.dialog({
    title: 'Supprimer le produit',
    message: `Etes vous sur de vouloir supprimer l'item ${item.name}`,
    cancel: true
  }).onOk(() => {
    itemsStore.deleteItem(item)
  })
}

const updateItemState = (item: Item, checked: boolean) => {
  itemsStore.updateItem({ ...item, checked })

  if (checked === true) {
    $q.notify({
      icon: 'done_outline',
      iconColor: 'primary',
      message: item.name,
      color: 'secondary',
      timeout: 1500,
      progress: true,
      actions: [
        {
          icon: 'undo',
          color: 'accent',
          handler: () => {
            const updatedItem = itemsStore.itemsByIds[item.id]
            if(updatedItem != undefined) {
              itemsStore.updateItem({ ...updatedItem, checked: false })
            }
          }
        }
      ]
    })
  }
}
</script>
