<template>
  <q-page class="row">
    <!-- Toobar menu -->
    <teleport defer to="#toolbar-actions">
      <q-btn flat round icon="settings" @click="navigateSettings" />
    </teleport>

    <!-- Empty space -->
    <div
      v-if="listsStore.lists.length === 0"
      class="w-full grow column items-center justify-center"
    >
      <div class="text-h4 text-center">Vous n'avez pas encore de liste</div>
      <q-icon name="store" size="10rem" color="secondary" />
    </div>

    <!-- Cards list -->
    <div
      v-else
      class="fit row wrap justify-evenly q-col-gutter-md q-ma-sm q-mr-md"
    >
      <div
        v-for="list in listsStore.lists"
        :key="list.id"
        class="col-xs-12 col-sm-6 col-md-4"
      >
        <q-card v-ripple class="cursor-pointer" @click="displayList(list)">
          <q-card-section>
            <div class="text-h6">{{ list.name }}</div>
            <div class="text-subtitle2">{{ list.description }}</div>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn
              round
              flat
              icon="edit"
              color="accent"
              @click.stop="editListDialog(list)"
            ></q-btn>
            <q-btn
              round
              flat
              icon="delete"
              color="accent"
              @click.stop="deleteListDialog(list)"
            ></q-btn>
          </q-card-actions>
        </q-card>
      </div>
    </div>

    <!-- FAB -->
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn fab icon="add" color="accent" @click="createListDialog()" />
    </q-page-sticky>
  </q-page>
</template>

<script setup lang="ts">
import { useQuasar } from 'quasar'

import { useListsStore } from 'src/stores/lists'

import ListFormDialog from 'src/components/ListFormDialog.vue'
import { useRouter } from 'vue-router'

import type { List } from 'src/models/list'

// Navigation
const router = useRouter()
const displayList = (list: List) => router.push(`/list/${list.id}/items`)

// Toolbar actions
const navigateSettings = () => router.push('/settings')

/**
 * Lists CRUD
 */

const $q = useQuasar()
const listsStore = useListsStore()

const createListDialog = () => {
  $q.dialog({
    component: ListFormDialog
  }).onOk((listToCreate: List) => {
    listsStore.createList(listToCreate)
  })
}

const editListDialog = (list: List) => {
  $q.dialog({
    component: ListFormDialog,
    componentProps: { list }
  }).onOk((listToUpdate: List) => {
    listsStore.updateList(listToUpdate)
  })
}

const deleteListDialog = (list: List) => {
  $q.dialog({
    title: 'Supprimer la liste',
    message: `Etes vous sur de vouloir supprimer la liste ${list.name}`,
    cancel: true
  }).onOk(() => {
    listsStore.deleteList(list)
  })
}
</script>
