<template>
  <q-page class="row">
    <!-- Toobar menu -->
    <teleport defer to="#toolbar-actions">
      <q-btn flat round icon="home" @click="navigateHome" />
    </teleport>
    
    <div class="fit column wrap justify-evenly q-col-gutter-md q-ma-sm q-mr-md" >
      <div>
      <q-card>
        <q-card-section>
          <div class="text-h6">Base locale</div>
        </q-card-section>
        
        <q-card-section>
          <code><pre>{{ localInfo }}</pre></code>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat color="secondary" label="Importer" @click="fileInput?.pickFiles()"/>
          <q-btn flat color="secondary" label="Exporter" @click="exportDatabase"/>
          <q-btn flat color="secondary" label="Recréer" @click="recreateDatabase"/>
          <q-file v-model="fileModel" ref="fileInput" class="hidden" @update:model-value="importDatabase"/>
        </q-card-actions>
      </q-card>
      </div>
      
      <div>
      <q-card>
        <q-card-section>
          <div class="text-h6">Base distante</div>
        </q-card-section>

        <q-card-section>
          <code><pre>{{ remoteInfo }}</pre></code>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn v-if="!remoteConnected" flat color="secondary" label="Connect" @click="replicate"/>
          <q-btn v-if="remoteConnected" flat color="secondary" label="Disconnect" @click="stopReplication"/>
        </q-card-actions>
      </q-card>
      </div>

    </div>
  </q-page>
</template>

<script setup lang="ts">
import { useRouter } from 'vue-router'
import { exportFile, QFile, useQuasar } from 'quasar'

import { connection, DatabaseEvent } from 'src/tools/PouchConnection'
import { onMounted, onUnmounted, ref, useTemplateRef } from 'vue';
import { notifyError, notifySuccess } from 'src/tools/Notify';
import { exportContent, importContent } from 'src/tools/ImportExport';
import RemoteDatabaseDialog from 'src/components/RemoteDatabaseDialog.vue';

const $q = useQuasar()

// Navigation
const router = useRouter()
const navigateHome = () => router.push('/')

// Auto refresh based on events
const subscription = connection()
  .getEvents()
  .subscribe(event => {
    switch(event) {
      case DatabaseEvent.DATABASE_OPENED:
      case DatabaseEvent.DATABASE_SYNC_UPDATE:
        updateLocalInfo();
        break;
      case DatabaseEvent.REPLICATION_SETUP:
      case DatabaseEvent.REPLICATION_STOPPED:
        updateRemoteInfo();
        break;
    }
  })
onUnmounted(() => subscription.unsubscribe())


/*
 * Local database info
 */
const localInfo = ref<string>()
const updateLocalInfo = () => connection()
  .getDb()
  .info()
  .then(info => localInfo.value = JSON.stringify(info, null, 2))
  .catch(err => {
    notifyError("Erreur lors de la lecture des informations", err)
    localInfo.value = 'Erreur'
  })
onMounted(() => updateLocalInfo())


/*
 * Export
 */
const fileModel = ref<File>()
const fileInput = useTemplateRef<QFile>('fileInput')

const exportDatabase = () => {
  const now = new Date()
  const filename = `shopping-lists-${now.getFullYear()}-${now.getMonth() + 1}-${now.getDate()}.json`

  exportContent(connection().getDb())
    .then(json => exportFile(filename, json))
    .then(res => res === true
      ? notifySuccess("Données exportées")
      : notifyError("Erreurs lors de l'exportation", res)
    )
}


/*
 * Import
 */
const importDatabase = () => {
  if(fileModel.value === null || fileModel.value === undefined) {
    notifyError("Aucun fichier sélectionné", undefined)
    return
  }

  fileModel.value
    .text()
    .then(content => importContent(connection().getDb(), content))
    .then(_res => notifySuccess("Fichier importé !"))
    .catch(err => notifyError("Erreur lors de l'importation", err))
}


/*
 * Recreate
 */
const recreateDatabase = () => $q
  .dialog({
    title: 'Recréer la base de donnée',
    message: 'Etes vous sur de vouloir recréer la base locale ? Toutes les données seront supprimées',
    cancel: true
  })
  .onOk(() => connection()
    .recreateDatabase()
    .then(() => notifySuccess('La base a été recrée'))
    .catch(err => notifyError("Une erreur est survenue lors de la recréation de la base", err))
  )

  
/*
 * Remote database info
 */
const remoteInfo = ref<string>()
const remoteConnected = ref<boolean>(false)
const updateRemoteInfo = () => {
  const remoteDb = connection().getRemoteDb()
  if(remoteDb === undefined) {
    remoteInfo.value = 'Non connectée'
    remoteConnected.value = false
  } else {
    remoteDb
      .info()
      .then(info => {
        remoteInfo.value = JSON.stringify(info, null, 2)
        remoteConnected.value = true
      })
      .catch(err => {
        notifyError("Erreur lors de la lecture des informations", err)
        remoteInfo.value = 'Erreur'
        remoteConnected.value = false
      })
  }
}
onMounted(() => updateRemoteInfo())


/*
 * Replication
 */
const replicate = () => $q
  .dialog({
    component: RemoteDatabaseDialog
  }).onOk(url => {
    if(url === undefined) return
    
    connection()
      .replicate(url)
      .then(info => {
        console.info("Replication set up", info)
        notifySuccess("Réplication configurée !")
      })
      .catch(error => notifyError("Erreurs lors de la synchronisation", error))

  })

const stopReplication = () => {
  connection().stopReplication()
  notifySuccess("Réplication désactivée !")
}

</script>
