<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="q-dialog-plugin">
      <q-card-section>
        <div class="text-h6">
          {{ editMode ? 'Editer la catégorie' : 'Créer une catégorie' }}
        </div>
      </q-card-section>

      <q-card-section>
        <q-form ref="form" class="column q-gutter-md" @submit="saveCategory">
          <!-- Name -->
          <q-input outlined autofocus v-model="name" label="Name" :rules="[val => !!val || 'Champ requis']" />

          <!-- Color selector -->
          <q-btn-dropdown flat class="grow q-pa-sm">
            <template v-slot:label>
              <div class="row items-center w-full justify-evenly">
                <q-icon name="circle" size="lg" :style="{ color }" />
                <span>Couleur</span>
                <q-icon name="colorize" />
              </div>
            </template>

            <q-color v-model="color" no-header no-footer default-view="palette" class="color-picker" v-close-popup />
          </q-btn-dropdown>
        </q-form>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat color="secondary" label="OK" @click="form?.submit()" />
        <q-btn flat color="secondary" label="Cancel" @click="onDialogCancel" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<style lang="sass" scoped>
.color-picker
  min-width: 33vw
</style>

<script setup lang="ts">
import { ref } from 'vue'
import { uid, QForm, useDialogPluginComponent } from 'quasar'

import type { Category } from 'src/models/category'

interface Props {
  list: string
  category?: Category
}

defineEmits([...useDialogPluginComponent.emits])

const props = defineProps<Props>()

const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } = useDialogPluginComponent()

const editMode = props.category !== undefined

const form = ref<QForm>()
const name = ref(editMode ? props.category.name : '')
const color = ref(editMode ? props.category.color : '')

function saveCategory() {
  const category: Category = {
    ...props.category,
    id: editMode ? props.category.id : uid(),
    list: props.list,
    name: name.value.trim(),
    color: color.value
  }

  onDialogOK(category)
}
</script>
