<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="q-dialog-plugin" style="width: unset !important; max-width: unset !important;">
      <q-card-section>
        <div class="text-h6">
          Détails de l'erreur
        </div>
      </q-card-section>

      <q-card-section>
        <div class="text-subtitle1">Message : {{  message }}</div>
        <code>
          <pre>{{ details }}</pre>
        </code>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat color="secondary" label="OK" v-close-popup/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { useDialogPluginComponent } from 'quasar'
import { computed } from 'vue'

interface Props {
  err: any // eslint-disable-line @typescript-eslint/no-explicit-any
}

defineEmits([...useDialogPluginComponent.emits])
const props = defineProps<Props>()
const { dialogRef, onDialogHide } = useDialogPluginComponent()

const message = computed(() => props.err.message ?? `${props.err}`)
const details = computed(() => JSON.stringify(props.err, null, 2))
</script>
