<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="q-dialog-plugin">
      <q-card-section>
        <div class="text-h6">
          {{ editMode ? `Editer l'item` : 'Créer un item' }}
        </div>
      </q-card-section>

      <q-card-section class="q-gutter-md">
        <!-- Name -->
        <q-input outlined autofocus v-model="name" label="Name" />

        <!-- Category selector -->
        <q-select
          outlined
          v-model="category"
          :options="categoriesStore.categories"
          option-label="name"
          label="Catégorie"
        >
          <template v-slot:prepend>
            <q-icon size="lg" name="circle" :style="{ color: category?.color }" />
          </template>
          <template v-slot:option="scope">
            <q-item v-bind="scope.itemProps">
              <q-item-section avatar>
                <q-icon size="lg" name="circle" :style="{ color: scope.opt.color }" />
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ scope.opt.name }}</q-item-label>
              </q-item-section>
            </q-item>
          </template>
        </q-select>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat color="secondary" label="OK" @click="onOKClick" />
        <q-btn flat color="secondary" label="Cancel" @click="onDialogCancel" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<style lang="sass" scoped>
.color-picker
  min-width: 33vw
</style>

<script setup lang="ts">
import { ref } from 'vue'
import { uid, useDialogPluginComponent } from 'quasar'

import { useCategoriesStore } from 'src/stores/categories'

import type { Category } from 'src/models/category'
import type { Item } from 'src/models/item'

interface Props {
  item?: Item
}

defineEmits([...useDialogPluginComponent.emits])

const props = defineProps<Props>()

const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } = useDialogPluginComponent()

const editMode = props.item !== undefined
const name = ref(editMode ? props.item.name : '')
const category = ref<Category>()
const categoriesStore = useCategoriesStore()

category.value = categoriesStore.categoriesByIds[props.item?.category || '']

function onOKClick() {
  if (props.item?.list === undefined) return

  const item: Item = {
    ...props.item,
    id: editMode ? props.item.id : uid(),
    name: name.value,
    category: category.value !== undefined ? category.value.id : undefined
  }

  onDialogOK(item)
}
</script>
