<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="q-dialog-plugin">
      <q-card-section>
        <div class="text-h6">
          {{ editMode ? 'Editer la liste' : 'Créer une liste' }}
        </div>
      </q-card-section>

      <q-card-section>
        <q-form ref="form" class="q-gutter-md" @submit="saveList" @keyup.enter="form?.submit()">
          <q-input outlined autofocus v-model="name" label="Name" :rules="[val => !!val || 'Champ requis']" />
          <q-input outlined v-model="description" label="Description" />
        </q-form>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat color="secondary" label="OK" @click="form?.submit()" />
        <q-btn flat color="secondary" label="Cancel" @click="onDialogCancel" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { uid, QForm, useDialogPluginComponent } from 'quasar'

import type { List } from 'src/models/list'

interface Props {
  list?: List
}

defineEmits([...useDialogPluginComponent.emits])

const props = defineProps<Props>()

const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } = useDialogPluginComponent()

const editMode = props.list !== undefined

const form = ref<QForm>()
const name = ref(editMode ? props.list.name : '')
const description = ref(editMode ? props.list.description : '')

function saveList() {
  const list: List = {
    ...props.list,
    id: editMode ? props.list.id : uid(),
    name: name.value.trim(),
    description: description.value.trim()
  }

  onDialogOK(list)
}
</script>
