<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="q-dialog-plugin">
      <q-card-section>
        <div class="text-h6">Répliquer vers une base distante</div>
      </q-card-section>

      <q-card-section>
        <q-form ref="form" class="q-gutter-md" @submit="validateForm" @keyup.enter="form?.submit()">
          <q-input outlined autofocus v-model="protocol" label="Protocole" :rules="[val => !!val || 'Champ requis']" />
          <q-input outlined v-model="host" label="Host" :rules="[val => !!val || 'Champ requis']" />
          <q-input outlined v-model="port" label="Port" :rules="[val => !!val || 'Champ requis']" />
          <q-input outlined v-model="dbname" label="Base" :rules="[val => !!val || 'Champ requis']" />
          <q-input outlined v-model="username" label="Utilisateur" :rules="[val => !!val || 'Champ requis']" />
          <q-input outlined v-model="password" label="Mot de passe" type="password" :rules="[val => !!val || 'Champ requis']" />
        </q-form>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat color="secondary" label="Ok" @click="form?.submit()" />
        <q-btn flat color="secondary" label="Annuler" @click="onDialogCancel" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { QForm, useDialogPluginComponent } from 'quasar'
import { testRemoteConnection } from 'src/tools/PouchConnection';
import { notifyError, notifySuccess } from 'src/tools/Notify';

defineEmits([...useDialogPluginComponent.emits])

const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } = useDialogPluginComponent()


const form = ref<QForm>()
const protocol = ref('http')
const host = ref('localhost')
const port = ref(5984)
const dbname = ref('shopping-lists')
const username = ref('')
const password = ref('')

function validateForm() {
  const url = `${protocol.value}://${host.value}:${port.value}/${dbname.value}`
  testRemoteConnection(url, username.value, password.value)
    .then(() => notifySuccess("Test de connexion OK"))
    .then(() => {
      const credInit = {
        id: `${username.value}@${host.value}:${port.value}`,
        name: username.value,
        password: password.value
      }

      return navigator
        .credentials
        .create({ password: credInit } as CredentialCreationOptions)
        .then(credentials => credentials != null
          ? navigator.credentials.store(credentials)
          : Promise.reject("Impossible de stocker les identifiants")
        )
    })
    .then(() => navigator.credentials.get({ password: true } as CredentialRequestOptions)) // Force cast, TS typing problem
    .then(cred => {
      if(cred) onDialogOK(url)
      else throw new Error('Impossible de récupérer les identifiants')
    })
    .catch(err => notifyError("Erreur de connexion", err))
}
</script>
