<template>
  <q-layout view="hHh Lpr lff">
    <q-header elevated>
      <q-toolbar>
        <q-btn flat dense round icon="menu" @click="toggleLeftDrawer" />
        <q-toolbar-title>{{ title }}</q-toolbar-title>
        <!-- Teleport target -->
        <div id="toolbar-actions"></div>
      </q-toolbar>
    </q-header>

    <q-drawer show-if-above v-model="leftDrawerOpen" bordered>
      <q-list>
        <!-- Navigate to lists -->
        <q-item clickable @click="navigateBackToLists()">
          <q-item-section avatar><q-icon name="home" color="secondary" /></q-item-section>
          <q-item-section>Retour aux listes</q-item-section>
        </q-item>
        <q-separator />

        <!-- Header -->
        <q-item-label header>Catégories</q-item-label>

        <!-- Create category -->
        <q-item clickable @click="createCategoryDialog()">
          <q-item-section avatar><q-icon name="add_circle" color="secondary" /></q-item-section>
          <q-item-section>Nouvelle catégorie</q-item-section>
        </q-item>
        <q-separator inset />

        <!-- All categories -->
        <q-item clickable @click="navigateToAllCategories()">
          <q-item-section avatar><q-icon size="lg" name="circle" /></q-item-section>
          <q-item-section>Toutes</q-item-section>
        </q-item>

        <!-- Categories -->
        <q-item
          clickable
          v-for="category in categoriesStore.categories"
          :key="category.id"
          @click="navigateToCategory(category)"
        >
          <q-item-section avatar><q-icon name="circle" size="lg" :style="{ color: category.color }" /></q-item-section>
          <q-item-section>{{ category.name }}</q-item-section>
          <q-item-section side>
            <div class="row">
              <q-btn flat round dense color="secondary" icon="edit" @click.stop="editCategoryDialog(category)" />
              <q-btn flat round dense color="secondary" icon="delete" @click.stop="deleteCategoryDialog(category)" />
            </div>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue'
import { useRouter } from 'vue-router'
import { useQuasar } from 'quasar'

import { useListsStore } from 'src/stores/lists'
import { useCategoriesStore } from 'src/stores/categories'

import type { ListID } from 'src/models/list'
import type { Category } from 'src/models/category'

import CategoryFormDialog from 'src/components/CategoryFormDialog.vue'

// Props
const props = defineProps<{ listId: ListID }>()

// Drawer
const leftDrawerOpen = ref(false)
const toggleLeftDrawer = () => (leftDrawerOpen.value = !leftDrawerOpen.value)

// Navigation
const router = useRouter()
const navigateBackToLists = () => router.push('/lists')
const navigateToAllCategories = () => router.push(`/list/${props.listId}/items`)
const navigateToCategory = (cat: Category) => router.push(`/list/${props.listId}/${cat.id}/items`)

// Page title
const listsStore = useListsStore()
const title = computed(() => listsStore.lists.find(l => l.id === props.listId)?.name)

// Categories store
const $q = useQuasar()
const categoriesStore = useCategoriesStore()
categoriesStore.initForList(props.listId)

/*
 * Categories CRUD
 */

const createCategoryDialog = () => {
  $q.dialog({
    component: CategoryFormDialog,
    componentProps: { list: props.listId }
  }).onOk((categoryToCreate: Category) => {
    categoriesStore.createCategory({ ...categoryToCreate, list: props.listId })
  })
}

const editCategoryDialog = (category: Category) => {
  $q.dialog({
    component: CategoryFormDialog,
    componentProps: { list: props.listId, category }
  }).onOk((categoryToUpdate: Category) => {
    categoriesStore.updateCategory(categoryToUpdate)
  })
}

const deleteCategoryDialog = (category: Category) => {
  $q.dialog({
    title: 'Supprimer la catégorie',
    message: `Etes vous sur de vouloir supprimer la catégorie ${category.name}`,
    cancel: true
  }).onOk(() => {
    categoriesStore.deleteCategory(category)
  })
}
</script>
